.champ-description {
    opacity: 0;
    line-height: var(--lh-body);
    transform: translateY(30px);
    transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
    transition-delay: 1.5s;
}

.champ-description.visible {
    opacity: 1;
    transform: translateY(0);
}