.hability-btn {
    width: 34px;
    height: 34px;
    background: transparent;
    border-radius: 4px;
    overflow: hidden;
    opacity: 0.5;
    transition: all 150ms ease-in;
}

.hability-btn img {
    width: 100%;
    height: 100%;
}

.hability-btn.active-btn {
    transform: scale(1.2);
    box-shadow: 0px 0px 6px 2px rgba(255,255,255,0.59);
    opacity: 1;
}

@media screen and (min-width: 1024px) {
    .hability-btn {
        width: 40px;
        height: 40px;
    }

    .hability-btn.active-btn {
        transform: scale(1.3);
        box-shadow: 0px 0px 7px 3px rgba(255,255,255,0.59);
        opacity: 1;
    }
}

@media screen and (min-width: 1440px) {
    .hability-btn {
        width: 60px;
        height: 60px;
    }
}