.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    width: 80%;
}

.header .title h1 {
    font-size: var(--title1-font-size-mobile);
    font-family: 'Protest Revolution', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.95);
}

@media screen and (min-width: 768px) {
    .header .title h1 {
        font-size: var(--title1-font-size-tablet);
    }
}

@media screen and (min-width: 1024px) {
    .header .title h1 {
        font-size: var(--title1-font-size-desktop);
    }
}

@media screen and (min-width: 1440px) {
    .header .title h1 {
        font-size: var(--title1-font-size-desktop-plus);
    }
}